<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="com.example.supermi.permission.SHOW_SNAPSHOT" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.supermi.permission.SHOW_SNAPSHOT" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperMi">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="识别复制内容并快速跳转App" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="android" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".BubblePosProvider"
            android:authorities="com.example.supermi.bubblepos"
            android:exported="true" />

        <activity
            android:name=".AppPickerActivity"
            android:exported="false" />

        <activity
            android:name=".PlatformRulesActivity"
            android:exported="false" />

        <activity
            android:name=".NumberRulesActivity"
            android:exported="false" />
        <activity
            android:name=".SnapshotCornerActivity"
            android:exported="false" />
        <activity
            android:name=".DebugDetailsActivity"
            android:exported="false" />
        <activity android:name=".ShareReceiverActivity" android:exported="true" android:theme="@style/Theme.SuperMi.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SnapshotViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.SuperMi.Viewer"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <receiver
            android:name=".SnapshotCleanReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.supermi.CLEAR_SNAPSHOTS" />
            </intent-filter>
        </receiver>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
